.popular {
    margin-bottom: 12rem;

    &__title {
        margin-bottom: 1.5rem;
        text-stroke: 2px $c_black;  
        -webkit-text-stroke: 2px $c_black;
    }

    &__description {
        max-width: 52rem;
        margin: 0 auto;
        margin-bottom: 19rem;
        text-align: center;
        color: rgba($c_black, 0.5);
    }

    &__text {
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5rem;
        margin-bottom: 9rem;
    }

    &__item {
    }

    &__arrow {
    }
}
.title--lines {
}

.arrow-link {
}
